
/* Section 1 */
.s1-tfs{
    font-size: 1.2rem;
}


/* Section 2 */
.s2-bgc{
    background-color: #27499b; 
    padding: 10px 0;
}
.s2-tc{
    color: #27499b;
}


/* Section 3 */
.s3-margin{
    margin: 30px 20px 30px 20px;
}
.s3-tc{
    color:#27499b;
    font-size: 1.3rem;
}
.s3-fs{
    font-size: 16px;
}
.s3-c2-img{
    width: 24px; 
    height: 24px;
}

/* Section 4 */
.s4-box-bg{
    background-color: #27499b;
    height: 100px;
}

/* Section 5 */
.s5-br{
    border-style: solid; 
    border-width: 0px 2px 0px 0px; 
    border-color: #F8A51B; 
    align-content: center;
}

/* Section 7 */
.s7-tfs{
    font-size: 30px;
}
/* Card */
.card-section-bg{
    background-color: #F5F5F5;
}
.s7-card-tbline{
    border-style: solid; 
    border-width: 0px 0px 4px 0px; 
    border-color: #F8A51B; 
    align-items: center;
}
.card-box-b{
    /* width: 150px; 
    height: 250px; */
    margin-right: 0.5rem;
    box-shadow: #a5a5a5; 
     
}
.card-img-bline{
    
    border-style: solid; 
    border-width: 0px 0px 3px 0px; 
    border-color: #a5a5a5; 
    align-items: center;
}

/* Section 8 */
.s8-box{
    /* width:200px; */
    border-radius: 15px;
    margin-right: 0.5rem;
}
.s8-card-tline{
    border-style: solid; 
    border-width: 0px 0px 2px 0px; 
    border-color: #CFCFCF; 
    align-items: center;
    margin: 10px 0px 10px 0px;
}

/* Section 9 */
.s9-bg{
    background-color:#f2f2f2;
 }
 .s9-form-name{
      border-style: solid; 
      border-width: 0px 0px 3px 0px; 
      border-color: #cacaca;
      font-size: 1.5rem;    
 }
 .s9-form-msg{
     border-style: solid; 
     border-width: 3px; 
     border-color: #cacaca; 
     font-size: 1.5rem;    
 }
 .s9-form-ta{
     height: 180px;    
 }
 .s9-col2-fs{
    font-size: 1rem;
 }
 .s9-col2-ifs{
    font-size: 1.5rem;
 }
 .s9-col2-iefs{
    font-size: 1.2rem;
    
 }

 /* Section 10 */
.s10-bg-img{
    background-image: url('D:\Florida\menu\Mask Group 3bg.png');
    width: 100%;
}
.s10-df{
    flex-direction: row;
}
.email-input-container {
display: flex;
}
.email-input {
flex-grow: 1;
padding: 5px;
}
.subscribe-button {
background-color: #007bff;
color: #fff;
border: none;
padding: 5px 10px;
cursor: pointer;
}
.image-container {
position: relative;
display: inline-block;
}
.overlay {
position: absolute;
top: 10px;

width: 100%;
height: 100%;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
color: #ffffff; /* Text color for the overlay content */
z-index: 1; /* Place the overlay above the image */
}
.s10-fclor{
    color: black;
    text-align: left;
}
.s10-ifs{
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
 }
 .s10-iefs{
    font-size: 1.2rem;
    justify-content: center;
    display: flex;
 }
 .s10-bl{
    border-style: solid; 
    border-width: 0px 0px 0px 2px; 
    border-color: #F8A51B; 
    align-content: center;
}

/* .phone-icon{
display: flex;
justify-content: space-evenly;
flex-direction: column-reverse;
}

.phone-icon2 {
display: flex;
justify-content: space-evenly;

} */